// This file can be remove once FontAwesome is implemented and
// when the new navigation style has been implemented in the project

//The imports can be remove once the 

.only_nav {
    @import "compass/reset"
}
@import "compass/css3";


/* FontAwesome styles Starts */


@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/FontAwesome.otf";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.eot";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.svg";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.woff";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css";

.fa {
  display: inline-block !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* FontAwesome styles Ends */



/* Demo and Guidelines */

.demo_guidelines {
	padding: 25px;
	.guidelines {
		margin: 0 auto;
		width: 50%;
		max-width: 750px;
		background: white;
		padding: 20px;
		@include border-radius(5px);
		@media (max-width: 768px) {
			width: 100%;
			max-width: 480px;
		}
		@media (max-width: 480px) {
			width: 100%;
			max-width: 250px;
		}

		h1 {
			font-size: 28px;
			font-weight: bold;
			line-height: 36px;
			margin: 10px 0;
		}
		
		h3 {
			font-size: 18px;
			font-weight: bold;
			line-height: 28px;
			margin: 10px 0;
		}
		.note {
			color: #666;
			font-size: 12px;
		}
		ul {
			margin: 10px 0 20px 5px;
			li {
				color: #333;
				margin: 10px 0 10px 20px;
				list-style-type: disc;
			}
		}
		hr	{
			border: 1px dashed #999;
			margin: 10px 0;
		}
		ol {
			margin: 10px 0 20px 5px;
			li {
				color: #333;
				margin: 10px 0 10px 20px;
				list-style-type: decimal;
			}
		}

		em {
			font-weight: bold;
			color: block;
		}

	}

	.prettyprint {
		max-height: 300px;
		overflow: auto;
		padding: 20px;
	}

	.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
}