.only_nav {
    @import "compass/reset"
}
@import "compass/css3";


/* FontAwesome styles Starts */
@include font-face("FontAwesome", font-files(
    "../fonts/FontAwesome.otf",
    "../fonts/fontawesome-webfont.eot",
    "../fonts/fontawesome-webfont.svg",
    "../fonts/fontawesome-webfont.ttf",
    "../fonts/fontawesome-webfont.woff"
));
@import "font-awesome.min.css";

.fa {
  display: inline-block !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* FontAwesome styles Ends */
/* YEC.CO NAVIGATION */

/* support    - david matus | david@dmatus.com */
/* Snap.js    - https://github.com/jakiestfu/Snap.js/ */
/* navgoco    - https://github.com/tefra/navgoco */
/* fastclick  - https://github.com/ftlabs/fastclick */



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* Top Menu Styles Starts */
#header_top_line {
  width: 100%;
  height: 3px;
  background-color: #11171D;
  border-bottom: 1px solid #2C3842;
}

#header_content_container {
  width: 100%;
  height: 50px;
  background: #172029;
  @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
  position: relative;
  z-index: 20;
}

#header {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

#logo_header {
  width: 85px;
  height: 47px;
  float: left;
  text-align: center;
  position: relative;
  top: -1px;
  margin-right: 32px;
  img {
    position: relative;
    top: 8px;
    width: 58px;
    height: 31px;
  }
}

#header_menu {
  float: left;
  margin-top: 0;
  height: 46px;
  li {
    display: inline-block;
    font-family: 'HelvNeue', Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 10px;
    margin-top: 8px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 1px;
    &.current-menu-item {
      background: #1a232b;
    }
    a {
      color: #C4CDD6;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        color: #F89E00;
      }
    }
    &.current-menu-item a:hover {
      color: #C4CDD6;
    }
  }
}

#header_menu_right {
  float: right;
  span {
    font-family: 'HelvNeue', Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #C4CDD6;
    letter-spacing: 1px;
  }
  a {
    font-family: 'HelvNeue', Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #C4CDD6;
    letter-spacing: 1px;
    &:hover span {
      color: #F89E00;
    }
  }
}

#login_container {
  float: left;
  border-left: 1px solid #2E3A43;
  height: 46px;
  padding-left: 25px;
  padding-right: 25px;
  a {
    text-decoration: none;
    float: right;
    line-height: 20px;
    padding-top: 12px;
    .login_text {
      margin-left: 7px;
    }
  }
}

#logged_container {
  float: left;
  border-left: 1px solid #2E3A43;
  height: 46px;
  padding-left: 25px;
  padding-right: 25px;
  a {
    text-decoration: none;
    float: right;
    line-height: 20px;
    display: table-cell;
    box-sizing: border-box;
    .logged_text {
      margin-left: 7px;
      vertical-align: middle;
      display: inline-block;
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 4px;
    }
    .logged_profile_picture {
      display: inline-block;
      vertical-align: middle;
      padding-top: 3px;
      img {
        max-width: 35px;
        max-height: 35px;
        @include border-radius(18px);
        border: 2px solid #11181f;
      }
    }
  }
}

#apply_container {
  @extend #login_container;
  background: #f89e00;
  border-left: 1px solid #f89e00;
  @include box-shadow(0px -1px 0px rgba(250,182,64,1));
  a {
    span {
      color: white;
      opacity: 1;
      font-weight: bold;
    }
    &:hover {
      span {
        color: white;
      }
    }
  }
}

#refer_container {
  @extend #apply_container;
  a {
    
    .refer_icon {
      color: #C4CDD6;
      display: none;
    }
  }
}


#social_icons_container {
  float: left;
  padding-right: 20px;
  border-right: 1px solid #161E25;
  span {
    margin-top: 14px;
    margin-right: 24px;
    float: left;
  }
  a.social-icon {
    width: 33px;
    height: 33px;
    display: inline-block;
    margin-top: 6px;
    background: transparent url('../img/social-icons.png') no-repeat;
    &.icon_twitter {
      background-position: 0 0;
      &:hover {
        background-position: 0 -38px;
      }
    }
    &.icon_facebook {
      background-position: -38px 0;
      &:hover {
        background-position: -38px -38px;
      }
    }
    &.icon_gplus {
      background-position: -76px 0;
      &:hover {
        background-position: -76px -38px;
      }
    }
    &.icon_rss {
      background-position: -114px 0;
      &:hover {
        background-position: -114px -38px;
      }
    }
    &.icon_pinterest {
      background-position: -152px 0;
      &:hover {
        background-position: -152px -38px;
      }
    }
  }
}

/* Top Menu Styles Ends */



/* Styles - Function to show/hide left/right menu Starts */
#open-left {
  float: left;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  //right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  //right: auto;
  bottom: 0;
  left: -265px;
  width: 265px;
  height: auto;
  overflow: auto;
  @include transition(width 0.3s ease);
}

.snapjs-left .snap-drawer {
  left: 0 !important;
  @include transition(width 0.3s ease);
}

.snap-drawer-left {
  //left: 0;
  z-index: 1;
  //float: left;
}


.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left #snap-content {
  //border-left: 6px solid rgba(0,0,0,.25);
  @include box-shadow(inset 5px 0px 0px 0px rgba(0,0,0,0.25));

}

.snapjs-left .snap-drawer-right, .snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left, .snapjs-expand-right .snap-drawer-right {
  //width: 100%;
}

/* Show "Left" drawer for the "Right" drawer in the demo */

.snapjs-right {
  .snap-drawer-left {
    display: block;
    right: 0;
    left: auto;
  }
  .snap-drawer-right {
    display: none;
  }
}


.menu-icon {
  display: block;
  width: 25px;
  height: 50px;
  color: white;
  text-align: center;
  position: relative;
  padding: 0 14px;
  box-sizing: initial;
  &:before {
    content: "";
    position: absolute;
    left: 14px;
    top: 12px;
    width: 25px;
    height: 0.25em;
    background: white;
    box-shadow: 0 0.50em 0 0 white, 0 1em 0 0 white;
  }
}

.drawer-inner {
  @include transition(opacity 0.3s ease);
}

.snapjs-expand-left .drawer-inner, .snapjs-expand-right .drawer-inner {
  opacity: 0;
}

#snap-content {
  margin-top: 50px;
  background: white;
}

.snap-drawers {
  display: block;
  //background: black;
}

.snap-drawer {
  background: black;
  color: #eee;
  padding-top: 50px;
  p {
    opacity: 0.5;
    padding: 15px;
    font-size: 12px;
  }
}

/* Styles - Function to show/hide left/right menu Ends */

/* Menu Styles Starts */

.yec-menu ul {
  li a {
    text-decoration: none;
    span, p {
      display: block;
      color: white;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      font-size: 12px;
      font-weight: bold;
      text-rendering: optimizeLegibility;
    }
    &:hover {
      span, p {
        color: #f89e00;
      }
    }
  }
  &.yec-text-menu {
    margin-top: 2px;
    margin-bottom: 60px;
    li {
      margin-top: -3px;
      a {
        display: inline-block;
        border-bottom: 1px solid #182028;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        p {
          float: left;
          opacity: 1;
          padding: 17px 0 15px 15px;
        }
        div {
          float: left;
          padding: 14px;
          border-right: 1px solid #182028;
        }
      }
    }
  }
  &.yec-icon-menu {
    text-align: center;
    border-bottom: 3px solid #182028;
    padding-top: 20px;
    li {
      display: inline-block;
      width: 32%;
      margin-bottom: 10px;
      a {
        div span.fa {
          font-size: 24px;
        }
        p {
          opacity: 1;
          font-weight: normal;
          line-height: 16px;
          color: white;
          padding: 5px 10px 10px 10px;
        }
        &:hover, &.active {
          span, p, div {
            color: #f89e00;
          }
        }
      }
      &.active {
        span, p, div {
          color: #f89e00;
        }
      }
    }
  }
}

.yec-search {
  padding-bottom: 10px;
}

#yec-search {
  height: 40px;
  width: 80%;
  margin: 15px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .yec-menu ul li a {
    span, p {
      font-size: 11px;
    }
  }
}

.logout {
  padding-left: 60px !important;
}

.yec-nav {
  list-style: none;
  ul li {
    list-style: none;
    a {
      padding: 0 0 0 18px;
      width: 265px !important; //fix for yec.co
      //width: 265px !important;
      box-sizing: border-box;
      p {
        padding-left: 35px !important;
        margin: 0 !important;
      }
    }
    ul li {
      a {
        padding: 0 0 0 38px;
        width: 227px !important;
        p {
          font-size: 11px;
          color: #748392;
        }
      }
      &.active a {
        background: black;
        p, span {
          color: #f89e00;
        }
      }
    }
  }
  margin: 0px;
  a {
    display: block;
    outline: none;
  }
  li {
    > a {
      > span {
        float: left;
        font-size: 19px;
        font-weight: bolder;
        margin-top: 15px;
      }
      &:hover > span {
        color: #fff;
      }
      div > span {
        padding: 2px 3px 3px 3px;
        background: #182028;
        @include border-radius(3px);
        line-height: 16px;
        width: 16px;
        vertical-align: middle;
        display: table-cell;
        text-align: center;
        &:after {
          font-family: FontAwesome !important;
          content: '\f0d7';
          display: none;
          font-size: 8px;
        }
        &:before {
          content: '+';
          display: block;
        }
      }
    }
    &.open > a {
      //span:after {
      //  content: '\25b4';
      //  width: 9px;
      //}
      div > span {
        background: black;
        &:after {
          display: block;
        }
        &:before {
          display: none;
        }
      }
    }
  }
  > {
    li > a > span:after {
      //content: '';
    }
    a:hover, li > a {
      background-color: black;
      color: #f89e00;
    }
    a:hover span, li > a span, a:hover p, li > a p {
      color: #f89e00;
    }
  }
  ul {
    > {
      a:hover, li.active > a {
        background-color: #182028;
      }
    }
    li.open > a {
      background: #182028;
      span, p {
        color: #f89e00;
      }
    }
  }
  > li {
    &.active > a {
      background-color: #4D90FE;
      span, p {
        color: #f89e00;
      }
    }
  }
}



/* Tablet */
@media (max-width: 1024px) {
  
  #header_content_container {
    height: 40px;  /*a*/
  }
  .menu-icon {
    &:before {
      top: 6px;
    }
  }
  #logo_header {

    width: 60px; /*a*/
    height: 37px; /*a*/
    img {
      top: 6px;
      width: 47px;
      height: 24px;
    }
  }
  #header_menu {
    height: 36px; /*a*/
  }
  
  #social_icons_container {
   
    max-height: 36px; /*a*/
    span {
      margin-top: 10px; /*a*/
    }
    a.social-icon {
      margin-top: 0px;  /*a*/
    }
  }
  #login_container {
    
    height: 36px; /*a*/
    a {
      padding-top: 8px;
    }
  }


  #snap-content {
    margin-top: 40px !important; /*a*/
  }
  .snap-drawer {
    padding-top: 40px; /*a*/
  }
  #logged_container {
    height: 36px;
    a {
      .logged_text {
        margin-top: -2px; /*a*/

      }
      .logged_profile_picture {
        padding-top: 5px; /*a*/
        img {
          max-width: 24px;  /*a*/
          max-height: 24px; /*a*/
          @include border-radius(12px); /*a*/ 
          border: 1px solid #11181f;  /*a*/
        }
      }
    }
  }
  .yec-menu ul {
    &.yec-text-menu {
      li {
        margin-top: -3px; /*a*/
      }
    }
  }
  .menu-icon {
    height: 40px; /*a*/
  }
}

/* Mobile */
@media (max-width: 799px) {
  #header {
    text-align: center;
    position: relative;
  }
  #header_top_line {
    background: #182028;
    border-bottom: 1px solid #182028;
    display: none;
  }
  #header_content_container {
    background: #182028;
    box-shadow: none;
    
  }
  .menu-icon {
    &:before {
      top: 10px;
    }
  }
  #logo_header {
    float: none;
    margin: 0 auto;
    display: inherit;
    
    
    img {
      top: 9px;
    }
  }
  #header_menu {
    
  }
  #header_menu_right {
    top: 0;
    position: absolute;
    right: 0;
  }
  #social_icons_container {
    display: none !important;
    
    span {
      
    }
    a.social-icon {
      
    }
  }
  #login_container {
    padding-left: 0;
    border-left: none;
    padding-right: 0;
    
    a {
      height: 40px;
      margin-top: 0;
      background-color: #0080A7;
      display: block;
      padding-top: 0px;

      .login_text {
        display: none;
      }
      .login_icon {
        i.fa-user {
          padding: 11px 18px;
          font-size: 18px;
        }
      }
      &:hover {
        i.fa-user {
          color: white;
        }
      }
    }
  }
  #refer_container {
    .refer_text {
      display: none;
    }
    a {
      .refer_icon {
        display: inline-block;
       i.fa-user {
        padding: 11px 13px 11px 13px;
        font-size: 18px;
        i.fa-plus {
          font-size: 10px;
          vertical-align: top;
          display: inline-block !important;
        }
       }
      }
      &:hover {
        i.fa-user {
          color: white;
        }
      }
    }
  }
  .snapjs-left .menu-icon, .snapjs-right .menu-icon {
    background: black;
  }
  #snap-content {
    
  }
  .snap-drawer {
    
  }
  #logged_container {
    display: none;
    height: 36px; 
    a {
      .logged_text {
        
      }
      .loggged_profile_picture {
        
        img {
          
          
          
          
        }
      }
    }
  }
  .yec-menu ul {
    &.yec-text-menu {
      li {
        
      }
    }
  }
  .menu-icon {
    
  }
}