@import url(font-awesome.min.css);
/* line 17, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav html, .only_nav body, .only_nav div, .only_nav span, .only_nav applet, .only_nav object, .only_nav iframe,
.only_nav h1, .only_nav h2, .only_nav h3, .only_nav h4, .only_nav h5, .only_nav h6, .only_nav p, .only_nav blockquote, .only_nav pre,
.only_nav a, .only_nav abbr, .only_nav acronym, .only_nav address, .only_nav big, .only_nav cite, .only_nav code,
.only_nav del, .only_nav dfn, .only_nav em, .only_nav img, .only_nav ins, .only_nav kbd, .only_nav q, .only_nav s, .only_nav samp,
.only_nav small, .only_nav strike, .only_nav strong, .only_nav sub, .only_nav sup, .only_nav tt, .only_nav var,
.only_nav b, .only_nav u, .only_nav i, .only_nav center,
.only_nav dl, .only_nav dt, .only_nav dd, .only_nav ol, .only_nav ul, .only_nav li,
.only_nav fieldset, .only_nav form, .only_nav label, .only_nav legend,
.only_nav table, .only_nav caption, .only_nav tbody, .only_nav tfoot, .only_nav thead, .only_nav tr, .only_nav th, .only_nav td,
.only_nav article, .only_nav aside, .only_nav canvas, .only_nav details, .only_nav embed,
.only_nav figure, .only_nav figcaption, .only_nav footer, .only_nav header, .only_nav hgroup,
.only_nav menu, .only_nav nav, .only_nav output, .only_nav ruby, .only_nav section, .only_nav summary,
.only_nav time, .only_nav mark, .only_nav audio, .only_nav video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav html {
  line-height: 1;
}
/* line 24, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav ol, .only_nav ul {
  list-style: none;
}
/* line 26, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav caption, .only_nav th, .only_nav td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav q, .only_nav blockquote {
  quotes: none;
}
/* line 103, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav q:before, .only_nav q:after, .only_nav blockquote:before, .only_nav blockquote:after {
  content: "";
  content: none;
}
/* line 32, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav a img {
  border: none;
}
/* line 116, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.only_nav article, .only_nav aside, .only_nav details, .only_nav figcaption, .only_nav figure, .only_nav footer, .only_nav header, .only_nav hgroup, .only_nav menu, .only_nav nav, .only_nav section, .only_nav summary {
  display: block;
}

/* FontAwesome styles Starts */
@font-face {
  font-family: "FontAwesome";
  src: url('/stylesheets/fonts/../fonts/FontAwesome.otf') format('opentype'), url('/stylesheets/fonts/../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('/stylesheets/fonts/../fonts/fontawesome-webfont.svg') format('svg'), url('/stylesheets/fonts/../fonts/fontawesome-webfont.ttf') format('truetype'), url('/stylesheets/fonts/../fonts/fontawesome-webfont.woff') format('woff');
}

/* line 17, ../sass/yec-menu.scss */
.fa {
  display: inline-block !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FontAwesome styles Ends */
/* YEC.CO NAVIGATION */
/* support    - david matus | david@dmatus.com */
/* Snap.js    - https://github.com/jakiestfu/Snap.js/ */
/* navgoco    - https://github.com/tefra/navgoco */
/* fastclick  - https://github.com/ftlabs/fastclick */
/* line 36, ../sass/yec-menu.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 44, ../sass/yec-menu.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 45, ../sass/yec-menu.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* Top Menu Styles Starts */
/* line 49, ../sass/yec-menu.scss */
#header_top_line {
  width: 100%;
  height: 3px;
  background-color: #11171D;
  border-bottom: 1px solid #2C3842;
}

/* line 56, ../sass/yec-menu.scss */
#header_content_container {
  width: 100%;
  height: 50px;
  background: #172029;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 20;
}

/* line 65, ../sass/yec-menu.scss */
#header {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

/* line 71, ../sass/yec-menu.scss */
#logo_header {
  width: 85px;
  height: 47px;
  float: left;
  text-align: center;
  position: relative;
  top: -1px;
  margin-right: 32px;
}
/* line 79, ../sass/yec-menu.scss */
#logo_header img {
  position: relative;
  top: 8px;
  width: 58px;
  height: 31px;
}

/* line 87, ../sass/yec-menu.scss */
#header_menu {
  float: left;
  margin-top: 0;
  height: 46px;
}
/* line 91, ../sass/yec-menu.scss */
#header_menu li {
  display: inline-block;
  font-family: 'HelvNeue', Arial, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  margin-right: 10px;
  margin-top: 8px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 1px;
}
/* line 101, ../sass/yec-menu.scss */
#header_menu li.current-menu-item {
  background: #1a232b;
}
/* line 104, ../sass/yec-menu.scss */
#header_menu li a {
  color: #C4CDD6;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 110, ../sass/yec-menu.scss */
#header_menu li a:hover {
  color: #F89E00;
}
/* line 114, ../sass/yec-menu.scss */
#header_menu li.current-menu-item a:hover {
  color: #C4CDD6;
}

/* line 120, ../sass/yec-menu.scss */
#header_menu_right {
  float: right;
}
/* line 122, ../sass/yec-menu.scss */
#header_menu_right span {
  font-family: 'HelvNeue', Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #C4CDD6;
  letter-spacing: 1px;
}
/* line 129, ../sass/yec-menu.scss */
#header_menu_right a {
  font-family: 'HelvNeue', Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #C4CDD6;
  letter-spacing: 1px;
}
/* line 135, ../sass/yec-menu.scss */
#header_menu_right a:hover span {
  color: #F89E00;
}

/* line 141, ../sass/yec-menu.scss */
#login_container, #apply_container, #refer_container {
  float: left;
  border-left: 1px solid #2E3A43;
  height: 46px;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 147, ../sass/yec-menu.scss */
#login_container a, #apply_container a, #refer_container a {
  text-decoration: none;
  float: right;
  line-height: 20px;
  padding-top: 12px;
}
/* line 152, ../sass/yec-menu.scss */
#login_container a .login_text, #apply_container a .login_text, #refer_container a .login_text {
  margin-left: 7px;
}

/* line 158, ../sass/yec-menu.scss */
#logged_container {
  float: left;
  border-left: 1px solid #2E3A43;
  height: 46px;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 164, ../sass/yec-menu.scss */
#logged_container a {
  text-decoration: none;
  float: right;
  line-height: 20px;
  display: table-cell;
  box-sizing: border-box;
}
/* line 170, ../sass/yec-menu.scss */
#logged_container a .logged_text {
  margin-left: 7px;
  vertical-align: middle;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 4px;
}
/* line 178, ../sass/yec-menu.scss */
#logged_container a .logged_profile_picture {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
}
/* line 182, ../sass/yec-menu.scss */
#logged_container a .logged_profile_picture img {
  max-width: 35px;
  max-height: 35px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  border: 2px solid #11181f;
}

/* line 192, ../sass/yec-menu.scss */
#apply_container, #refer_container {
  background: #f89e00;
  border-left: 1px solid #f89e00;
  -webkit-box-shadow: 0px -1px 0px #fab640;
  -moz-box-shadow: 0px -1px 0px #fab640;
  box-shadow: 0px -1px 0px #fab640;
}
/* line 198, ../sass/yec-menu.scss */
#apply_container a span, #refer_container a span {
  color: white;
  opacity: 1;
  font-weight: bold;
}
/* line 204, ../sass/yec-menu.scss */
#apply_container a:hover span, #refer_container a:hover span {
  color: white;
}

/* line 215, ../sass/yec-menu.scss */
#refer_container a .refer_icon {
  color: #C4CDD6;
  display: none;
}

/* line 223, ../sass/yec-menu.scss */
#social_icons_container {
  float: left;
  padding-right: 20px;
  border-right: 1px solid #161E25;
}
/* line 227, ../sass/yec-menu.scss */
#social_icons_container span {
  margin-top: 14px;
  margin-right: 24px;
  float: left;
}
/* line 232, ../sass/yec-menu.scss */
#social_icons_container a.social-icon {
  width: 33px;
  height: 33px;
  display: inline-block;
  margin-top: 6px;
  background: transparent url("../img/social-icons.png") no-repeat;
}
/* line 238, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_twitter {
  background-position: 0 0;
}
/* line 240, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_twitter:hover {
  background-position: 0 -38px;
}
/* line 244, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_facebook {
  background-position: -38px 0;
}
/* line 246, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_facebook:hover {
  background-position: -38px -38px;
}
/* line 250, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_gplus {
  background-position: -76px 0;
}
/* line 252, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_gplus:hover {
  background-position: -76px -38px;
}
/* line 256, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_rss {
  background-position: -114px 0;
}
/* line 258, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_rss:hover {
  background-position: -114px -38px;
}
/* line 262, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_pinterest {
  background-position: -152px 0;
}
/* line 264, ../sass/yec-menu.scss */
#social_icons_container a.social-icon.icon_pinterest:hover {
  background-position: -152px -38px;
}

/* Top Menu Styles Ends */
/* Styles - Function to show/hide left/right menu Starts */
/* line 276, ../sass/yec-menu.scss */
#open-left {
  float: left;
}

/* line 280, ../sass/yec-menu.scss */
html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

/* line 290, ../sass/yec-menu.scss */
#snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
}

/* line 304, ../sass/yec-menu.scss */
.snap-drawers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

/* line 314, ../sass/yec-menu.scss */
.snap-drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -265px;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

/* line 326, ../sass/yec-menu.scss */
.snapjs-left .snap-drawer {
  left: 0 !important;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

/* line 331, ../sass/yec-menu.scss */
.snap-drawer-left {
  z-index: 1;
}

/* line 338, ../sass/yec-menu.scss */
.snap-drawer-right {
  right: 0;
  z-index: 1;
}

/* line 343, ../sass/yec-menu.scss */
.snapjs-left #snap-content {
  -webkit-box-shadow: inset 5px 0px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 5px 0px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 5px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

/* line 349, ../sass/yec-menu.scss */
.snapjs-left .snap-drawer-right, .snapjs-right .snap-drawer-left {
  display: none;
}

/* Show "Left" drawer for the "Right" drawer in the demo */
/* line 360, ../sass/yec-menu.scss */
.snapjs-right .snap-drawer-left {
  display: block;
  right: 0;
  left: auto;
}
/* line 365, ../sass/yec-menu.scss */
.snapjs-right .snap-drawer-right {
  display: none;
}

/* line 371, ../sass/yec-menu.scss */
.menu-icon {
  display: block;
  width: 25px;
  height: 50px;
  color: white;
  text-align: center;
  position: relative;
  padding: 0 14px;
  box-sizing: initial;
}
/* line 380, ../sass/yec-menu.scss */
.menu-icon:before {
  content: "";
  position: absolute;
  left: 14px;
  top: 12px;
  width: 25px;
  height: 0.25em;
  background: white;
  box-shadow: 0 0.50em 0 0 white, 0 1em 0 0 white;
}

/* line 392, ../sass/yec-menu.scss */
.drawer-inner {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 396, ../sass/yec-menu.scss */
.snapjs-expand-left .drawer-inner, .snapjs-expand-right .drawer-inner {
  opacity: 0;
}

/* line 400, ../sass/yec-menu.scss */
#snap-content {
  margin-top: 50px;
  background: white;
}

/* line 405, ../sass/yec-menu.scss */
.snap-drawers {
  display: block;
}

/* line 410, ../sass/yec-menu.scss */
.snap-drawer {
  background: black;
  color: #eee;
  padding-top: 50px;
}
/* line 414, ../sass/yec-menu.scss */
.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: 12px;
}

/* Styles - Function to show/hide left/right menu Ends */
/* Menu Styles Starts */
/* line 426, ../sass/yec-menu.scss */
.yec-menu ul li a {
  text-decoration: none;
}
/* line 428, ../sass/yec-menu.scss */
.yec-menu ul li a span, .yec-menu ul li a p {
  display: block;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* line 438, ../sass/yec-menu.scss */
.yec-menu ul li a:hover span, .yec-menu ul li a:hover p {
  color: #f89e00;
}
/* line 443, ../sass/yec-menu.scss */
.yec-menu ul.yec-text-menu {
  margin-top: 2px;
  margin-bottom: 60px;
}
/* line 446, ../sass/yec-menu.scss */
.yec-menu ul.yec-text-menu li {
  margin-top: -3px;
}
/* line 448, ../sass/yec-menu.scss */
.yec-menu ul.yec-text-menu li a {
  display: inline-block;
  border-bottom: 1px solid #182028;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
/* line 455, ../sass/yec-menu.scss */
.yec-menu ul.yec-text-menu li a p {
  float: left;
  opacity: 1;
  padding: 17px 0 15px 15px;
}
/* line 460, ../sass/yec-menu.scss */
.yec-menu ul.yec-text-menu li a div {
  float: left;
  padding: 14px;
  border-right: 1px solid #182028;
}
/* line 468, ../sass/yec-menu.scss */
.yec-menu ul.yec-icon-menu {
  text-align: center;
  border-bottom: 3px solid #182028;
  padding-top: 20px;
}
/* line 472, ../sass/yec-menu.scss */
.yec-menu ul.yec-icon-menu li {
  display: inline-block;
  width: 32%;
  margin-bottom: 10px;
}
/* line 477, ../sass/yec-menu.scss */
.yec-menu ul.yec-icon-menu li a div span.fa {
  font-size: 24px;
}
/* line 480, ../sass/yec-menu.scss */
.yec-menu ul.yec-icon-menu li a p {
  opacity: 1;
  font-weight: normal;
  line-height: 16px;
  color: white;
  padding: 5px 10px 10px 10px;
}
/* line 488, ../sass/yec-menu.scss */
.yec-menu ul.yec-icon-menu li a:hover span, .yec-menu ul.yec-icon-menu li a:hover p, .yec-menu ul.yec-icon-menu li a:hover div, .yec-menu ul.yec-icon-menu li a.active span, .yec-menu ul.yec-icon-menu li a.active p, .yec-menu ul.yec-icon-menu li a.active div {
  color: #f89e00;
}
/* line 494, ../sass/yec-menu.scss */
.yec-menu ul.yec-icon-menu li.active span, .yec-menu ul.yec-icon-menu li.active p, .yec-menu ul.yec-icon-menu li.active div {
  color: #f89e00;
}

/* line 502, ../sass/yec-menu.scss */
.yec-search {
  padding-bottom: 10px;
}

/* line 506, ../sass/yec-menu.scss */
#yec-search {
  height: 40px;
  width: 80%;
  margin: 15px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  /* line 518, ../sass/yec-menu.scss */
  .yec-menu ul li a span, .yec-menu ul li a p {
    font-size: 11px;
  }
}
/* line 524, ../sass/yec-menu.scss */
.logout {
  padding-left: 60px !important;
}

/* line 528, ../sass/yec-menu.scss */
.yec-nav {
  list-style: none;
  margin: 0px;
}
/* line 530, ../sass/yec-menu.scss */
.yec-nav ul li {
  list-style: none;
}
/* line 532, ../sass/yec-menu.scss */
.yec-nav ul li a {
  padding: 0 0 0 18px;
  width: 265px !important;
  box-sizing: border-box;
}
/* line 537, ../sass/yec-menu.scss */
.yec-nav ul li a p {
  padding-left: 35px !important;
  margin: 0 !important;
}
/* line 543, ../sass/yec-menu.scss */
.yec-nav ul li ul li a {
  padding: 0 0 0 38px;
  width: 227px !important;
}
/* line 546, ../sass/yec-menu.scss */
.yec-nav ul li ul li a p {
  font-size: 11px;
  color: #748392;
}
/* line 551, ../sass/yec-menu.scss */
.yec-nav ul li ul li.active a {
  background: black;
}
/* line 553, ../sass/yec-menu.scss */
.yec-nav ul li ul li.active a p, .yec-nav ul li ul li.active a span {
  color: #f89e00;
}
/* line 560, ../sass/yec-menu.scss */
.yec-nav a {
  display: block;
  outline: none;
}
/* line 566, ../sass/yec-menu.scss */
.yec-nav li > a > span {
  float: left;
  font-size: 19px;
  font-weight: bolder;
  margin-top: 15px;
}
/* line 572, ../sass/yec-menu.scss */
.yec-nav li > a:hover > span {
  color: #fff;
}
/* line 575, ../sass/yec-menu.scss */
.yec-nav li > a div > span {
  padding: 2px 3px 3px 3px;
  background: #182028;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 16px;
  width: 16px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
/* line 584, ../sass/yec-menu.scss */
.yec-nav li > a div > span:after {
  font-family: FontAwesome !important;
  content: '\f0d7';
  display: none;
  font-size: 8px;
}
/* line 590, ../sass/yec-menu.scss */
.yec-nav li > a div > span:before {
  content: '+';
  display: block;
}
/* line 601, ../sass/yec-menu.scss */
.yec-nav li.open > a div > span {
  background: black;
}
/* line 603, ../sass/yec-menu.scss */
.yec-nav li.open > a div > span:after {
  display: block;
}
/* line 606, ../sass/yec-menu.scss */
.yec-nav li.open > a div > span:before {
  display: none;
}
/* line 616, ../sass/yec-menu.scss */
.yec-nav > a:hover, .yec-nav > li > a {
  background-color: black;
  color: #f89e00;
}
/* line 620, ../sass/yec-menu.scss */
.yec-nav > a:hover span, .yec-nav > li > a span, .yec-nav > a:hover p, .yec-nav > li > a p {
  color: #f89e00;
}
/* line 626, ../sass/yec-menu.scss */
.yec-nav ul > a:hover, .yec-nav ul > li.active > a {
  background-color: #182028;
}
/* line 630, ../sass/yec-menu.scss */
.yec-nav ul li.open > a {
  background: #182028;
}
/* line 632, ../sass/yec-menu.scss */
.yec-nav ul li.open > a span, .yec-nav ul li.open > a p {
  color: #f89e00;
}
/* line 638, ../sass/yec-menu.scss */
.yec-nav > li.active > a {
  background-color: #4D90FE;
}
/* line 640, ../sass/yec-menu.scss */
.yec-nav > li.active > a span, .yec-nav > li.active > a p {
  color: #f89e00;
}

/* Tablet */
@media (max-width: 1024px) {
  /* line 652, ../sass/yec-menu.scss */
  #header_content_container {
    height: 40px;
    /*a*/
  }

  /* line 656, ../sass/yec-menu.scss */
  .menu-icon:before {
    top: 6px;
  }

  /* line 660, ../sass/yec-menu.scss */
  #logo_header {
    width: 60px;
    /*a*/
    height: 37px;
    /*a*/
  }
  /* line 664, ../sass/yec-menu.scss */
  #logo_header img {
    top: 6px;
    width: 47px;
    height: 24px;
  }

  /* line 670, ../sass/yec-menu.scss */
  #header_menu {
    height: 36px;
    /*a*/
  }

  /* line 674, ../sass/yec-menu.scss */
  #social_icons_container {
    max-height: 36px;
    /*a*/
  }
  /* line 677, ../sass/yec-menu.scss */
  #social_icons_container span {
    margin-top: 10px;
    /*a*/
  }
  /* line 680, ../sass/yec-menu.scss */
  #social_icons_container a.social-icon {
    margin-top: 0px;
    /*a*/
  }

  /* line 684, ../sass/yec-menu.scss */
  #login_container, #apply_container, #refer_container {
    height: 36px;
    /*a*/
  }
  /* line 687, ../sass/yec-menu.scss */
  #login_container a, #apply_container a, #refer_container a {
    padding-top: 8px;
  }

  /* line 693, ../sass/yec-menu.scss */
  #snap-content {
    margin-top: 40px !important;
    /*a*/
  }

  /* line 696, ../sass/yec-menu.scss */
  .snap-drawer {
    padding-top: 40px;
    /*a*/
  }

  /* line 699, ../sass/yec-menu.scss */
  #logged_container {
    height: 36px;
  }
  /* line 702, ../sass/yec-menu.scss */
  #logged_container a .logged_text {
    margin-top: -2px;
    /*a*/
  }
  /* line 706, ../sass/yec-menu.scss */
  #logged_container a .logged_profile_picture {
    padding-top: 5px;
    /*a*/
  }
  /* line 708, ../sass/yec-menu.scss */
  #logged_container a .logged_profile_picture img {
    max-width: 24px;
    /*a*/
    max-height: 24px;
    /*a*/
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    /*a*/
    border: 1px solid #11181f;
    /*a*/
  }

  /* line 719, ../sass/yec-menu.scss */
  .yec-menu ul.yec-text-menu li {
    margin-top: -3px;
    /*a*/
  }

  /* line 724, ../sass/yec-menu.scss */
  .menu-icon {
    height: 40px;
    /*a*/
  }
}
/* Mobile */
@media (max-width: 799px) {
  /* line 731, ../sass/yec-menu.scss */
  #header {
    text-align: center;
    position: relative;
  }

  /* line 735, ../sass/yec-menu.scss */
  #header_top_line {
    background: #182028;
    border-bottom: 1px solid #182028;
    display: none;
  }

  /* line 740, ../sass/yec-menu.scss */
  #header_content_container {
    background: #182028;
    box-shadow: none;
  }

  /* line 746, ../sass/yec-menu.scss */
  .menu-icon:before {
    top: 10px;
  }

  /* line 750, ../sass/yec-menu.scss */
  #logo_header {
    float: none;
    margin: 0 auto;
    display: inherit;
  }
  /* line 756, ../sass/yec-menu.scss */
  #logo_header img {
    top: 9px;
  }

  /* line 763, ../sass/yec-menu.scss */
  #header_menu_right {
    top: 0;
    position: absolute;
    right: 0;
  }

  /* line 768, ../sass/yec-menu.scss */
  #social_icons_container {
    display: none !important;
  }

  /* line 778, ../sass/yec-menu.scss */
  #login_container, #apply_container, #refer_container {
    padding-left: 0;
    border-left: none;
    padding-right: 0;
  }
  /* line 783, ../sass/yec-menu.scss */
  #login_container a, #apply_container a, #refer_container a {
    height: 40px;
    margin-top: 0;
    background-color: #0080A7;
    display: block;
    padding-top: 0px;
  }
  /* line 790, ../sass/yec-menu.scss */
  #login_container a .login_text, #apply_container a .login_text, #refer_container a .login_text {
    display: none;
  }
  /* line 794, ../sass/yec-menu.scss */
  #login_container a .login_icon i.fa-user, #apply_container a .login_icon i.fa-user, #refer_container a .login_icon i.fa-user {
    padding: 11px 18px;
    font-size: 18px;
  }
  /* line 800, ../sass/yec-menu.scss */
  #login_container a:hover i.fa-user, #apply_container a:hover i.fa-user, #refer_container a:hover i.fa-user {
    color: white;
  }

  /* line 807, ../sass/yec-menu.scss */
  #refer_container .refer_text {
    display: none;
  }
  /* line 811, ../sass/yec-menu.scss */
  #refer_container a .refer_icon {
    display: inline-block;
  }
  /* line 813, ../sass/yec-menu.scss */
  #refer_container a .refer_icon i.fa-user {
    padding: 11px 13px 11px 13px;
    font-size: 18px;
  }
  /* line 816, ../sass/yec-menu.scss */
  #refer_container a .refer_icon i.fa-user i.fa-plus {
    font-size: 10px;
    vertical-align: top;
    display: inline-block !important;
  }
  /* line 824, ../sass/yec-menu.scss */
  #refer_container a:hover i.fa-user {
    color: white;
  }

  /* line 830, ../sass/yec-menu.scss */
  .snapjs-left .menu-icon, .snapjs-right .menu-icon {
    background: black;
  }

  /* line 839, ../sass/yec-menu.scss */
  #logged_container {
    display: none;
    height: 36px;
  }
}
